/* color de menu en active = #000316 este color ahora en rgba rgba(7, 8, 12, .6) */
body{
    margin: 0;
}
ol,
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
}
p{
    margin: 0;
}
.header div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header a {
    text-decoration: none;
    color: #a2a2ab;
    display: flex;
    align-items: center;
    /* padding: 0px 80px; */
    margin: 0px 80px;
    text-transform: uppercase;
}
 .header a.active{ 
    color: #000316;
    border-bottom: 2px solid;
    /* text-decoration-line: underline; */
} 
/* .header li:active {
    color: #000316;
    border-bottom: 1px solid;
} */
.header-logo-container .logo img{
    width: 110px;
}
.header ul{
    display: flex;
}
/* SECCION DE PORTADA */
.front-cover{
    height: 700px;
    /* border: 1px solid red; */
    background-image: url('../image/image\ \(5\).jpg');
    background-size: 70%;
    object-fit: fill;
    background-repeat: no-repeat;
    background-position-x:  right;
    background-position-y: -250px;
     background-color: #0c0e14;
    /*display: flex;
    align-items: center;
    justify-content: space-between;
     */
     /* padding-left: 140px; */
     padding-top: 100px;
}
.front-cover-container{
    /* margin-left: 140px; */
    width: 870px;
    color: white;
}
.front-cover-container h1{
    padding-left: 140px;
    font-size: 60px;
    letter-spacing: 5px;
    font-family: Arial, Helvetica, sans-serif;
    /* position: absolute; */
    text-transform: uppercase;
}
.front-cover-description{
    padding: 25px 0px;
    padding-left: 140px;
    line-height: 1.5;
    font-size: 20px;
    /* border: 1px solid red; */
    background-color: #07080c;
    background: linear-gradient(90deg, #07080c 60%, rgba(255,254,254,.1));
}

.front-cover-social-networks{
    margin-top: 110px;
    padding-left: 140px;
}
.front-cover-social-networks li{
    padding: 25px 0px;
}
.front-cover-social-networks ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.front-cover-social-networks span{
    padding-right: 20px;
}

/* SECCION BIOGRAFIA */
.biography{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 0px;
    padding-left: 100px;
    
}
.biography-detail{
    width: 30%;
    color: #8f8b87;
}
.biography-detail h1{
    font-size: 60px;
    color: #a3a3a3;
    padding-top: 100px; 
}
.biography-detail article p{
    line-height: 1.5;
    /* font-size: 17px; */
    margin: 30px 0px;
}
.link{
    /* display: block; */
    padding: 10px 70px;
    border: 1px solid black;
    border-radius: 25px;
    background: #0f0e14;
    color: white;
    text-decoration: none;
    font-size: 25px;
    text-transform: capitalize;
}
.biography-images-container{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: flex-end;
}
.biography-images-container p span{
    border-bottom: 1px solid #07080c;
}
.miss-image img{
    width: 500px;
    height: 700px;
}
.ceo-image img{
    padding-top: 150px;
    width: 520px;
    height: 480px;
    object-fit: cover;
}
.ceo-image p{
    padding-left: 200px;
}
.actress-image img{
    width: 480px;
    height: 600px;
    /* margin-left: -120px; */
    margin-right: 210px;
    margin-top: -160px;
}
.biography-line{
    width: 12%;
    height: 20px;
    background-color: #0f0e14;
    margin: 0;
}


/* #fafafa color section cursos */
/* SECCION DE CURSOS */
.course{
    padding-top: 50px;
    background: #fafafa;
}
.title-special{
    border: 1px solid red;
    height: 100px;
    display: flex;
    align-items: center;
}
.course h3{
    /* margin-top: 1px; */
    padding: 0px 30px;
    /* display: inline-block; */
    text-transform: uppercase;
}

.line-course{
    /* display: inline-block; */
    width:43%;
    height: 3px;
    background-color: #383838;
}
.l-left{
    /* padding-top: 10px; */
    margin-left: 50px;
}
.l-right{
    margin-right: 50px;
}

/* SECCION TIENDA */
.store{
    padding-top: 50px;
}
.detail-store{
    display: flex;
    padding: 50px 80px;
}
.description-product-store{
    width: 30%;
}
.description-product-store h2{
    color: #0f0e14;
    font-size: 65px;
    margin: 0;
}
.description-product-store .product-code{
    color: #0f0e14; 
    margin: 20px 0px;
}
.description-product-store div{
    margin: 50px 0px;
    width: 200px;
    border-top: 1px solid #0f0e14;
    /* background-color: #0f0e14;
    float: left;
    display: block; */
}
.description-product-store p{
    margin-bottom: 30px;
    color: #8f8b87;
    line-height: 1.5;
}
.special-p{
    margin-bottom: 0px !important;
}
.select-products-store{
    width: 300px;
    display: flex;
    flex-direction: column;
}
.select-products-store img{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin-bottom: 47px;
}
.store-img{
    padding-left: 50px;
    display: flex;
    justify-content: space-between;
}
.product-store{
    padding: 50px 0px;
    width: 550px;
    height: 600px;
    border: 1px solid red;
    background-color: #d8d8d8;
    flex-shrink: 0;
    
}
.product-store img{
    width: 550px;
    height: 600px;
}

/* SECCION DE CONTACTO */
.contact{
    display: flex;
    flex-direction: column;
    padding-left: 236px;
    padding-bottom: 50px;
}
.title-contact h2{
    font-size: 65px;
}
.title-contact div{
    margin: 50px 0px;
    width: 200px;
    border-top: 1px solid #0f0e14;
}
.images-contact{
    display: flex;
}
.images-contact img{
    width: 400px;
    height: 400px;
}
.button-scroll{
    width: 50px;
    height: 50px;
    background-color: #010101;
    float: right;
    margin-right: 120px;
    margin-top: 0px;
    display: block;
}
/* SECCION FOOTER */
.footer{
    margin-top: 120px;
    padding: 80px 236px;
    background: #010101;
    display: flex;
    justify-content: space-between;
}
.footer-information{
    color: #8f8b87;
}
.options-footer-container{
    display: flex;
    justify-content: space-between;
}
.options-footer-container h6{
    padding-bottom: 30px;
    font-size: 16px;
    color: white;
}
.options-footer-container ul li a{
    color: #8f8b87;
    text-decoration: none;
}
.copyright-container{
    display: flex;
    justify-content: space-between;
    padding: 40px 0px;
}
.copyright-container p{
    text-transform: capitalize;
}
.copyright-container span{
    text-transform: none;
}
.copyright-container .country-city{
    margin-left: 100px;
}
.logo-footer img{
    width: 300px;
}