.contact{
    display: flex;
    flex-direction: column;
    padding-left: 170px;
    padding-bottom: 50px;

}
.title-contact h2{
    font-size: 59px;
    font-family: 'Segoe';
    font-weight: initial;
}
.title-contact div{
    margin: 50px 0px;
    width: 200px;
    border-top: 1px solid #0f0e14;
}
.images-contact{
    display: flex;
}
.images-contact img{
    width: 350px;
    height: 350px;
}