.store{
    padding-top: 50px;
}
.detail-store{
    display: flex;
    padding: 50px 10px 50px 80px;
    justify-content: space-around;
}
.title-special h3{
    font-family: 'Segoe';
    font-size: 30px;
    font-weight: initial;
}
.description-product-store{
    width: 30%;
    max-width: 400px;
}
.description-product-store h2{
    color: #0f0e14;
    font-size: 59px;
    margin: 0;
    font-family: 'Segoe';
    font-weight: initial;
}
.description-product-store .product-code{
    color: #0f0e14; 
    margin: 20px 0px;
}
.description-product-store div{
    margin: 50px 0px;
    width: 200px;
    border-top: 1px solid #0f0e14;
    /* background-color: #0f0e14;
    float: left;
    display: block; */
}
.description-product-store p{
    margin-bottom: 30px;
    color: #8f8b87;
    line-height: 1.5;
    font-family: 'Public-Sans';
}
.special-p{
    margin-bottom: 0px !important;
}
.select-products-store{
    width: 225px;
    border: 1px dotted blue;
    position: relative;
}
.select-products-store__thumbnails{
    width: 220px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 0;
    border: 2px dotted green;
}
/* .select-products-store__thumbnails button{
    border: none;
    background: white;
   
} */
.select-products-store__thumbnails img{
    width: 200px;
    height: 141px;
    border: 1px solid black;
    margin-bottom: 30px;
    cursor: pointer;
}
.selected-product{
    background-color: #d8d8d8;
}

.store-img{
    padding-left: 50px;
    display: flex;
    justify-content: space-between;
}
.product-store{
    padding: 50px 0px;
    max-width: 445px;
    height: 708px;
    border: 1px solid red;
    background-color: #d8d8d8;
    flex-shrink: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.product-store img{
    max-width: inherit;
    max-height: inherit;
    object-fit: cover;
}

.direction-vertical{
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* flex: 1; */
}
.direction-vertical button{
    color:#fff;
    width: 30px;
    height: 30px;
    font-size: 10px;
    background-color: black;
    border: 1px solid #C2C2C2;
    border-radius: 100%;
    cursor: pointer;
    z-index: 3;
    transform: rotate(90deg);
    padding-bottom: 4px;
}
.direction-vertical button:hover{
    color:#000;
    background-color: #fff;
    border: 1px solid #C2C2C2;
    
}

.prev-v{
    align-self: center;
}
.next-v{
   margin-top: 550px;

}

