/* color de menu en active = #000316 este color ahora en rgba rgba(7, 8, 12, .6) */
/* #0C0E14 verdadero color negro */
@font-face {
  font-family: 'Segoe-Bold';
  src: local("Segoe UI Bold"),
  local("Segoe-UI-Bold"),
  url('./assets/static/fonts/Segoe\ UI\ Bold.woff');
  font-weight: bold;
}
@font-face {
  font-family: 'Segoe';
  src: local("Segoe UI"),
  local("Segoe-UI"),
  url('./assets/static/fonts/Segoe\ UI.woff');
  font-weight: normal;
}
@font-face {
  font-family: 'Tenor-Sans';
  src: local("Tenor Sans Regular"),
  local("Tenor-sans-Regular"),
  url('./assets/static/fonts/TenorSans-Regular.ttf');
  font-weight: normal;
}
@font-face {
  font-family: 'Public-Sans';
  src: local("Public Sans Regular"),
  local("Public-sans-Regular"),
  url('./assets/static/fonts/PublicSans-Regular.ttf');
  font-weight: normal;
}
@font-face {
  font-family: 'Cirka-Bold';
  src: local("Circa bold"),
  local("Circa-bold"),
  url('./assets/static/fonts/Cirka\ Bold\ 700.otf');
  font-weight: normal;
}

body{
  margin: 0;
}
ol,
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6{
  margin: 0;
}
p{
  margin: 0;
}